div{
  // border: 1px dotted green;
}

.container{
margin: 0;
padding: 0;
}

h1{
  color: coral;
}

.sec-title{
  margin: 10% 0;
  text-align: center; 
}

#section1, #section2, #section3, #section4, #section9, #section11, #section12, #section13{
  margin: 5% 0;
  padding: 3%;
        .sec1-par{
          font-size: 1em;
          color:#546e7a;
        }
}



#section5{
  margin: 5% 0;
  padding: 5%;

  ul{
    padding: 1%;
    margin: 0;
    li:first-child{
background-color: #dfe4ea;
    }
  }
}

#section6, #section7{
  margin: 5% 0;
  padding: 3%;
          .sec6-par{
            font-size: 1em;
            color:#546e7a;
          }

          .sec6-pic{
            max-width: 600px;
          }
  }


    #section8{
      margin: 5% 0;
  padding: 5%;

  ul{
    padding: 1%;
    margin: 0;
    li:first-child{
background-color: #dfe4ea;
    }
  }
             
             .sec8-pic{
                max-width: 600px;
              }

              .sec8-table{
                font-size: 0.5em;
                margin: 2%;
                width: 100
                td{
                  text-align: center;
                }
              }
      }


        #section10{
          margin: 5% 0;
          padding: 3%;
               
                  .sec10-par{
                    font-size: 1em;
                    color:#546e7a;
                  }
                  .sec10-table{
                    font-size: 0.5em;
                    margin: 2%;
                    width: 100%;
                    
                    td{
                      text-align: center;
                    }
                  }
          }

          #section13{
            background-color: #000;
                   }


.project-overview{
  margin: 0 15%;
}

.key-questions > div > ul {
  width: 50%;
  margin: 5px 0;
}



.interview{
width: 48%;
}



.wireframing{
  background-color: #0a3d62;
}

