div{
  // border: 1px dotted green;
}

h1{
  color: coral;
}

#section1{
height: 100vh;
        h3{
          font-size: 3em;
        }

        .sec1-title{
          padding: 1% 10%;
        }
        .sec1-par{
          padding: 10%;
          font-size: 1em;
          color:#546e7a;
        }
}

#section2{
  background-color: #eceff1;
      .sec2-title{
        padding: 1% 10%;
      }
      .sec2-par{
        padding: 10%;
        font-size: 1em;
        color:#546e7a;
      }
}

#section3{
  background-color: #fff;
      .sec3-title{
        padding: 1% 10%;
      }
      .sec3-par{
        padding: 10%;
        font-size: 1em;
        color:#546e7a;
      }
}

#section4{
  background-color: #eceff1;
      .sec4-title{
        padding: 1% 10%;
      }
      .sec4-par{
        padding: 10% 30%;
        font-size: 1em;
        color:#546e7a;
      }
}

#section5{
  background-color: #fff;
      .sec5-title{
        padding: 1% 10%;
      }
      .sec5-par{
        padding: 10%;
        color:#546e7a;
      }
      .Answer{
        min-height: 160px;
      }
}

#section6{
  background-color: #eceff1;
          h3{
            font-size: 3em;
          }
  
          .sec6-title{
            padding: 1% 10%;
          }
          .sec6-par{
            padding: 10% 0 0 10%;
            font-size: 1em;
            color:#546e7a;
          }

          .sec6-pic{
            max-width: 600px;
          }
  }

  #section7{
    background-color: #fff;
            h3{
              font-size: 3em;
            }
    
            .sec7-title{
              padding: 1% 10%;
            }
            .sec7-par{
              padding: 2% 0 0 10%;
              font-size: 1em;
              color:#546e7a;
            }
  
            .sec7-pic{
              max-width: 600px;
            }
    }

    #section8{
      background-color: #eceff1;
      h3{
                font-size: 3em;
              }
      
              .sec8-title{
                padding: 1% 10%;
              }
              .sec8-par{
                padding: 5% 0 0 5%;
                font-size: 1em;
                color:#546e7a;
              }
    
              .sec8-pic{
                max-width: 600px;
              }
      }


.project-overview{
  margin: 0 15%;
}

.key-questions > div > ul {
  width: 50%;
  margin: 5px 0;
}



.interview{
width: 48%;
}



.wireframing{
  background-color: #1b262c;
}

