// div{
//   border: 1px dotted yellow;
// }

.videoContainer{
position: relative;
}

.navLink{
  position: absolute;
  left: 0;
  top: 5%;
  width: 100%;
  text-align: center;
  padding: 0 33%;

}

.title{
  position: absolute;
  left: 0;
  top: 30%;
  width: 100%;
  text-align: center;
  opacity: 0.8;
  font-family: Helvetica;
  color: #fff;


.title-affcar{
  font-size: 6em;
}
.title-desc{
  font-size: 3em;
}

.title-note{
  font-size: 2em;
}

}

#affVideo{
  width: 100%;
  height: auto;
  z-index: -1;
}

h2{
  color: #f6b93b;
  font-size: 0.5em;
}

.sec-title{
  text-align: center; 
}

#section1, #section2, #section3, #section4, #section9, #section11, #section12, #section13{
  margin: 10% 0;
  padding: 3%;
        .sec1-par{
          font-size: 1em;
          color:#546e7a;
        }
}


#section5{
  margin: 10% 0;
  padding: 5%;

  ul{
    padding: 1%;
    margin: 0;
    li:first-child{
background-color: #dfe4ea;
    }
  }
}

#section6, #section7{
  margin: 10% 0;
  padding: 3%;
          .sec6-par{
            font-size: 1em;
            color:#546e7a;
          }

          .sec6-pic{
            max-width: 600px;
          }
  }


    #section8{
      margin: 10% 0;
  padding: 5%;

  ul{
    margin: 0;
    li:first-child{
background-color: #dfe4ea;
    }
  }
             
             .sec8-pic{
                max-width: 600px;
              }

              .sec8-table{
                font-size: 0.5em;
                margin: 2%;
                width: 100
                td{
                  text-align: center;
                }
              }
      }


        #section10{
          margin: 10% 0;
          padding: 3%;
               
                  .sec10-par{
                    font-size: 1em;
                    color:#546e7a;
                  }
                  .sec10-table{
                    font-size: 0.5em;
                    margin: 2%;
                    width: 100%;
                    
                    td{
                      text-align: center;
                    }
                  }
          }

          #section13{
            margin: 10% 0;
            padding: 3%;
            background-color: #000;
                   }


.project-overview{
  margin: 0 15%;
}

.key-questions > div > ul {
  width: 50%;
  margin: 5px 0;
}



.interview{
width: 48%;
}



.wireframing{
  background-color: #0a3d62;
}

.color1{
  text-align: center;
  padding: 10%;
  height: auto;
  background-color: #263238;
}

.color2{
  text-align: center;
  padding: 10%;
  height: auto;
  background-color: #ECEFF1;
}
.color3{
  text-align: center;
  padding: 10%;
  height: auto;
  background-color: #D93D4A;
}



  @media screen and (max-width: 375px) {
  
    .title-affcar{
      font-size: 2em !important;
    }
    .title-desc{
      font-size: 1em !important;
    }
    
    .title-note{
      font-size: 0.8em !important;
    }
    .navLink{
      font-size: 0.8em;
      padding: 0 1%;
      
      
    }

    }

