.rhino-main-container{
  margin: 0;
  padding: 0;
}

.rhino-holder{
  margin: 0;
  padding: 0;
}

.introSection{
background-color: lightpink;
padding: 5%;
}

.RhinoLogo{
  max-width: 10%;
}

.MyRoleSection{
  background-color: #e3f2fd ;
  padding: 5%;
}

.ResearchPlanSection{
  background-color: #b2dfdb ;
  padding: 5%;
   
}