
.project-container{
  color: #455a64;
  padding: 1% 5%;
  height: 100vh;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.project1,.project2,.project3,.project4 {
  background-color: #fff;
  width: 20%;
  min-width: 350px;
  margin-top: 2%;
  margin-bottom: 2%;
  position: relative;
}
.project4{
  background-color: #fff;
}

.bg-proj{
  background-color: #fff;
  
}
.bg-projux{
  background-color: #fff;
}

.rhino-pic{
  height: 165px;
}

.git-proj{
  max-width: 10%;
  opacity: 0.2;
}

.git-proj:hover{
  opacity: 0.7;
}

.proj-title{
  font-size: 1.2em;
  font-family: Helvetica;
  text-align: center;
  padding-top: 4%;
  margin: 0;
  font-weight: 600;
}

.footer{
  position: absolute;
  bottom: 0;
  right:0;
  left:0;
  padding: 2%;
}

.readMore:link{
  background: #c7ecee;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  transition: 0.3s ease-in;
}

.readMore:hover{
 -webkit-box-shadow: 0 10px 10px -6px #8888 ;
  -moz-box-shadow: 0 10px 10px -6px #8888 ;
       box-shadow: 0 10px 10px -6px #8888 ;
      }


// 