.project-container{
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: lightgrey;
  display: flex;
  flex-wrap: wrap;
}

.front-end-container{
width: 50%;
height: 100vh;
background-color: lightgreen;
}

.xu-container{
  width: 50%;
height: 100vh;
background-color: lightpink;
}