
.project-container{
  color: #455a64;
  padding: 2% 5%;
  height: 100vh;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}


.project1,.project2,.project3,.project4 {
  background-color: #fff;
  width: 20%;
  min-width: 350px;
  margin-top: 5px;
  position: relative;
}
.project4{
  background-color: #fff;
}

.bg-proj{
  background-color: #fff;
  
}
.bg-projux{
  background-color: #fff;
}

.rhino-pic{
  height: 165px;
}

.git-proj{
  max-width: 10%;
  opacity: 0.2;
}

.git-proj:hover{
  opacity: 0.7;
}

.proj-title{
  font-size: 1.2em;
  font-family: Helvetica;
  text-align: left;
  padding: 20px;
}

.footer{
  position: absolute;
  bottom: 0;
  right:0;
  left:0;
  padding: 2%;
}

.readMore:link{
  background: #c7ecee;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  transition: 0.3s ease-in;
}

.readMore:hover{
 -webkit-box-shadow: 0 10px 10px -6px #8888 ;
  -moz-box-shadow: 0 10px 10px -6px #8888 ;
       box-shadow: 0 10px 10px -6px #8888 ;
      }


@media screen and (max-width: 1024px) {
  .front-end-container{
    width: 100%;
    margin: 0%;
  }

  .project-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    // background-color: #e8eaf6;
    color: #455a64;
  }

  .projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 !important;
    margin: 0 !important;
  }
  
  .project1,.project2,.project3,.project4 {
    background-color: #ede7f6;
    width: 40%;
    height: auto;
    margin: 3%;
  }

  .bg-proj{
    background-color: #b39ddb;
  }
  
.footer{
  bottom: 0;
  right: 0;
  left:0;
  padding: 2%;
}

}