.AboutMeContainer{
  height: 100vh;
  display: flex;
  flex-direction: row;

  background-image: url('../../image/aboutbg2.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.imgHolder{
  padding-top: 2%;
}

.navbar{
  position: absolute;
  top: 0;
  left: 0;
}

.imgHolder{
  max-width: 50%;
}

.illus{
max-width: 90%;
animation-duration: 3000ms !important;
}
 
.bioHolder{
  margin: auto;
  width: 100%;
}

.bioContainer{
  margin: 20% 20%;
}

.my-pic{
  margin-left: 25%;
  max-width: 50%;
  border-radius: 50%;
}


.bio{
  margin: 3% 10%;
  text-align: justify;
}

.title {
  color: #a4b0be;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 100;
}

.myName{
  color: #5352ed;
  margin-top: 2%;
}

.resume:link, .resume:visited {
  color:#fff;
  padding: 5px 0px;
  margin: 0 2%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2em;
}

.resume:hover, .resume:active {
  color: darkblue;
}

.iconsHolder{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.icon{
  max-width: 70%;
  opacity: 0.2;
}

.icon:hover{
  opacity: 0.7;
}

.linkHolder{
  height: 5%;
  width: 30%;
  position: absolute;
  top: 0;
  right: 0;
}


@media screen and (max-width: 1024px) {
.AboutMeContainer{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
    background-image: url('../../image/aboutbg2.svg');
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.linkHolder{
  height: 5%;
  width: 100%;
}
.resume{
  color: darkblue !important;
}

.imgHolder{
  max-width: 100%;
  margin-top: 100px;
}

.bioContainer{
  margin: 2%;
}

.my-pic{
  margin-left: 25%;
  max-width: 50%;
  border-radius: 50%;
  border: none;
border-radius: 50%;
}

.display-4{
font-size: 2.6em !important;
  color: #5352ed;
  margin-top: 2%;
}

.title {
  color: #000;;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 100;
}
}

@media screen and (max-width: 500px) {
}