.AboutMeContainer{
  height: 100vh;
  display: flex;
  flex-direction: row;

  background-image: url('../../image/aboutbg2.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.navbar{
  position: absolute;
  top: 0;
  left: 0;
}

.imgHolder{
  max-width: 50%;
}

.bioHolder{
  margin: auto;
  width: 100%;
}

.bioContainer{
  margin-right: 20%;
}

.my-pic{
  margin-right: 15%;
  max-width: 50%;
  border-radius: 50%;
   
}


.bio{
  margin: 3% 10%;
  text-align: justify;
}

.title {
  color: #a4b0be;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 100;
}

.myName{
  color: #5352ed;
  margin-top: 2%;
}

.resume:link, .resume:visited {
  color:#fff;
  padding: 5px 0px;
  margin: 0 2%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2em;
}

.resume:hover, .resume:active {
  color: darkblue;
}

.iconsHolder{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.icon{
  max-width: 70%;
  opacity: 0.2;
}

.icon:hover{
  opacity: 0.7;
}

.linkHolder{
  height: 5%;
  width: 30%;
  position: absolute;
  top: 0;
  right: 0;
}

